[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal
[submodule "themes/roadster"]
	path = themes/roadster
	url = https://github.com/bhaak/roadster.git
