body .container {
  max-width: 100em;
  box-shadow: 0px 0px 5px 1px var(--background-color);
  border-radius: 6px;
}

header {
  border-radius: 6px;
}

.widget-search__form {
  border-radius: 6px;
  box-shadow: inset 0 0 2px 1px var(--background-color);
}

.btn {
  border-radius: 2px;
  transition: background-color 0.1s ease-out;
}
.btn:hover {
  box-shadow: inset 0 0 1.1px 0px var(--background-color);
}

code {
  border-radius: 2px;
}
